@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1F2937;;
    padding: 1em;

    font-family: "Roboto", sans-serif;

    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.navbar ul {
    list-style-type: none;

    font-size: 18px;
    color: #E5E7EB;

    display: flex;
    gap: 1em;
}

.header {
    font-family: "Roboto", sans-serif;

    background-color: #1F2937;
    padding: 5em 2em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.hero {
    flex-basis: 400px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

    margin-bottom: 0.5em;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;

    margin-bottom: 1em;
}

.hero button {
    background-color: #3882F6;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;

    color: #E5E7EB;
    font-size: 18px;
}

.header img {
    border-radius: 0.5em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

    font-family: "Roboto", sans-serif;

    padding: 4em;
}

.content-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content-panels {
    display: flex;
    justify-content: center;
    gap: 3em;
}

.content-panels div {
    max-width: 200px;
    text-align: center;
}

.content-panels div img {
    border-radius: 1em;
    margin-bottom: 0.5em;
}

.review-section {
    background-color: #E5E7EB;
    padding: 6em;

    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;

    max-width: 950px;
}

.review-author {
    text-align: end;
    font-size: 18px;
    font-weight: bold;

    margin-right: 2em;
    margin-top: 1em;
    width: 950px;
}