@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #1F2937;;
    padding: 1em;

    font-family: "Roboto", sans-serif;

    display: flex;
    justify-content: space-around;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.navbar ul {
    list-style-type: none;

    font-size: 18px;
    color: #E5E7EB;

    display: flex;
    gap: 1em;
}